/*fonts*/
@font-face {
    font-family: MTC;
    src: url('../fonts/Monotype_Corsiva.ttf');
}
/*tags*/
* {
    font-family: MTC;
    font-size: 30px;
    color: black;
    
    background: rgba(100,100,100,1) !important;
    
}


body {
    display: block;
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 0;
    background-color: green;
    min-height: 1000px;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/*ids*/
#mainContainer {
    background: purple;
    width: 100%;
    height: auto;
}
#headLine {    
    background: brown;
    font-size: 50px;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
}
#fixedContainer {
    position: fixed;
    top: 0;
    right: 0;
    background: pink;
    width: 30%;
    height: 100%;
}
#currentBasket {
    height: 45%;
    position: relative;
    background: yellow;
    overflow-x: hidden;
    overflow-y: auto;
}
#focusItem {
    height: 45%;
    position: relative;
    background: brown;
}
#userAuth {
    top: 10%;
    height: 10%;
    width: 100%;
}
#content{
    height: 100%;
}
#items {
    background: red;
    height: 100%;
    width: 70%;
}
#itemTemplate {
    display: none;
}
#toBasket, #sendOrder {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}
#fixedContainer > *, #items > * {
    border: 1px solid black;
}
/*classes*/
.centerContents {
    display: inline-block;
    left: 0;
    text-align: center;    
}
.item {
    position: relative;
    width: 100%;
    height: 300px;
    left: 0;
}
.itemPreview, .itemData {   
    display: inline-block;
}
.item *, #fixedContainer  *{    
    padding: 10px;
}
.itemData {
    position: absolute;
    top: 0;
}
.itemPreview {
    height: 90%;
    max-height: 100%;
    width: auto;
    max-width: 40%;
}